server:
  port: 8082

spring:
  application:
    name: billing

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: always
      encoding: UTF-8

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
