server:
  port: 8082

spring:
  application:
    name: billing

  docker:
    compose:
      enabled: true
      lifecycle-management: start-and-stop

  datasource:
    url: jdbc:postgresql://localhost:5433/billing_db
    username: postgres
    password: postgres

  sql:
    init:
      mode: always
      encoding: UTF-8

  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
