name: Billing CI

on:
  pull_request:
    branches: [ develop ]
    paths:
      - 'billing-service/**'

  push:
    branches: [ main ]
    paths:
      - 'billing-service/**'
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: billing-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Run tests
        run: ./mvnw clean verify -Dspring.test.context.cache.maxSize=1

      - name: Build Docker image
        run: docker build -t billmate/billing-service:${{ github.sha }} .